body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f7eacb;
}
h1 {
  color: #e63946;
  margin-top: 50px;
}
#lixi {
  font-size: 24px;
  margin-top: 20px;
  color: #1d3557;
}
.button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #457b9d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
